name: Build & Push Production Base omnia Docker Images
on:
  workflow_dispatch: # Allow manual trigger only. We have manually controll execution phase
  push: 
    branches: 
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v2.3.5

      - name: Docker Omnia Base image metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/chronicleprotocol/omnia_base
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          config-inline: |
            [worker.oci]
              max-parallelism = 1 
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Publish Omnia Base Image to Github Packages
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./omnia/base.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max